<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.dao.AccountDAO">

    <resultMap id="accountMap" type="com.sms.entity.Account">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="roleType" column="role_type"/>
        <result property="accountStatus" column="account_status"/>
        <result property="loginAttempts" column="login_attempts"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="createTime" column="create_time"/>
        <result property="salt" column="salt"/>
    </resultMap>

    <insert id="insert" parameterType="com.sms.entity.Account">
        INSERT INTO t_account (user_id, username, password_hash, role_type,
            account_status, salt, create_time)
        VALUES (#{userId}, #{username}, #{passwordHash}, #{roleType},
            #{accountStatus}, #{salt}, #{createTime})
    </insert>

    <update id="update" parameterType="com.sms.entity.Account">
        UPDATE t_account SET account_status=#{accountStatus},
            login_attempts=#{loginAttempts}, last_login_time=#{lastLoginTime}
        WHERE user_id=#{userId}
    </update>

    <select id="findById" resultMap="accountMap">
        SELECT * FROM t_account WHERE user_id=#{userId}
    </select>

    <select id="findByUsername" resultMap="accountMap">
        SELECT * FROM t_account WHERE username=#{username}
    </select>

    <update id="updateStatus">
        UPDATE t_account SET account_status=#{status} WHERE user_id=#{userId}
    </update>

    <update id="incrementLoginAttempts">
        UPDATE t_account SET login_attempts = login_attempts + 1
        WHERE user_id=#{userId}
    </update>

    <update id="resetLoginAttempts">
        UPDATE t_account SET login_attempts = 0 WHERE user_id=#{userId}
    </update>

    <update id="updatePassword">
        UPDATE t_account SET password_hash=#{passwordHash} WHERE user_id=#{userId}
    </update>

    <update id="updateLastLoginTime">
        UPDATE t_account SET last_login_time=NOW() WHERE user_id=#{userId}
    </update>
</mapper>